<nav>
  <a [routerLink]="['/movies/latest']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">Latest</a>
  <a [routerLink]="['/movies/now-playing']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">Now Playing</a>
  <a [routerLink]="['/movies/popular']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">Popular</a>
  <a [routerLink]="['/movies/top-rated']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">Top Rated</a>
  <a [routerLink]="['/movies/upcoming']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">Upcoming</a>
</nav>
