:host {
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
}

nav a {
  margin-right: 20px;
  color: white;
  font-size: 28px;
  font-weight: 500;
  text-decoration: none;
}

nav a.router-link-active {
  color: #9E9E9E;
}
